<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta name="description" content="Hot takes on web Tech" />
		<title>Bloycey Blog: {{title}}</title>
		<link rel="icon" type="image/svg+xml" href="assets/images/logo.svg" />
		<link rel="alternate icon" href="../../favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Space+Mono:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../../style.css" />
	</head>
	<body>
		<nav class="main-nav">
			<a href="/" class="mono">bloycey.blog</a>
		</nav>
		<main>
			<article class="blog">
				<div class="magic-grid">
					<h1>{{title}}</h1>
					<img src="../../assets/images/underline.svg" alt="Scribble underline" />
					<span class="blog-date mono">{{date}}</span>
				</div>
				<div class="magic-grid">
					{{{content}}}
				</div>
			</article>
		</main>
		<footer>
			<section class="subscribe-wrapper">
				<div class="container text-center">
					<div class="subscribe-header">
						<div class="main-title">
							<h3>There's more where that came from...</h3>
							<p class="subscribe-subtitle text-sm">
								Subscribe for nerdy stuff in your inbox
							</p>
						</div>
						<p class="subscribed-msg">🎉 You've been subscribed!</p>
					</div>
					<form id="subscribe-form" name="subscribe" data-netlify="true">
						<fieldset type="text">
							<label for="name-field">Name:</label>
							<input type="text" name="name" required="true" id="name-field" placeholder="Colonel Mustard" />
						</fieldset>
						<fieldset type="text">
							<label for="email-field">Email:</label>
							<input type="email" name="email" id="email-field" required="true" placeholder="thecolonel@mustard.com" />
						</fieldset>
						<input type="submit" value="Subscribe">
					</form>
				</div>
			</section>
			<p id="response-text"></p>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
		<script src="../../assets/js/index.js"></script>
	</body>
</html>
