<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta name="description" content="Hot takes on web Tech" />
		<title>Bloycey Blog</title>
		<link rel="icon" type="image/svg+xml" href="assets/images/logo.svg" />
		<link rel="alternate icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Space+Mono:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<nav class="main-nav">
			<a href="/" class="mono">bloycey.blog</a>
		</nav>
		<main>
			<div class="container">
				<section class="hero-wrapper">
					<h1>Hot takes on web tech</h1>
					<img src="assets/images/andrew.svg" alt="Andrew" />
				</section>
			</div>
			<ul>
				{{links}}
			</ul>
		</main>
	</body>
</html>
