<li>
	<article>
		<a href="/blog/{{path}}">
			<img src="/assets/images/scribble_dark.svg" class="black" />
			<img src="/assets/images/scribble_red.svg" class="red" />
			<div>
				<span class="mono text-sm uppercase">{{date}}</span>
				<h2 class="text-lg">{{title}}</h2>
			</div>
			<p>
				{{description}}
			</p>
		</a>
	</article>
</li>
