:root {
	--red: #d43b57;
	--white: #ffffff;
	--black: #111111;
	--line-height: 170%;
}

/****** RESET ******/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/****** END RESET *******/

::selection {
	color: var(--white);
	background: var(--red);
}

input {
	width: 100%;
}

a {
	color: var(--red);
}

hr {
	width: 100%;
	border: 0;
}

hr:after {
	content: "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000";
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-decoration: underline;
	text-decoration-style: wavy;
	color: transparent;
	text-decoration-color: var(--red);
}

.blog a {
	display: inline;
	position: relative;
	text-decoration: none;
	color: inherit;
	margin: 0 0px;
	transition: margin 0.25s;
	background-color: transparent;
}

.blog a svg {
	width: 140%;
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translate(-50%, -10px) translateZ(0);
	fill: none;
	stroke: var(--red);
	stroke-linecap: round;
	stroke-width: 2px;
	stroke-dasharray: 69px 278px;
	stroke-dashoffset: 361px;
	transition: stroke 0.25s ease 0s, stroke-dasharray 0.2s;
}

.blog a:focus {
	outline: none;
}

.blog a:hover svg,
.blog a:focus svg {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%) translateZ(0);
	stroke-dasharray: 180px 278px;
	transition: stroke 0.25s ease 0.1s, stroke-dasharray 0.2s;
}

@media (max-width: 767px) {
	a,
	.blog a {
		text-decoration: underline;
		color: var(--red);
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-color: var(--red);
	}

	.blog a svg {
		display: none;
	}
	.blog a:hover {
		margin: 0;
	}
}

html {
	background-image: url("assets/images/grid-bg.png");
	font-size: 18px;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--black);
	background-size: 110px;
	background-color: var(--white);
}

/* @media (prefers-color-scheme: dark) {
	html {
		background: var(--black);
		color: var(--white);
	}
} */

@media (min-width: 767px) {
	html {
		background-size: auto;
	}
}

img {
	max-width: 100%;
}

pre code::before {
	content: "code";
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--red);
	padding: 8px 24px;
	color: #fff;
	font-family: monospace;
	border-bottom-right-radius: 10px;
}

pre code {
	position: relative;
	white-space: pre-wrap;
	font-weight: 400;
	font-size: 0.75rem;
	padding: 3rem 2rem 2rem 2rem;
	display: block;
	border-radius: 10px;
	border: 5px solid var(--red);
	background-color: #fff;
	line-height: 150%;
}

blockquote {
	display: flex;
	margin: 1rem 0 3rem;
	margin-left: 0;
	position: relative;
	line-height: var(--line-height);
	font-weight: 600;
	font-style: italic;
	font-size: 1.25rem;
}

@media (min-width: 767px) {
	blockquote::before {
		content: url("assets/images/scribble_red.svg");
		position: absolute;
		left: -3.5rem;
	}
}

.mono {
	font-family: "Space Mono", monospace;
	font-weight: 700;
}

.hover-red:hover {
	color: var(--red);
}

.magic-grid {
	display: grid;
	grid-template-columns: 1fr min(980px, calc(100% - 2rem)) 1fr;
	margin: 0 auto;
}

.magic-grid > * {
	grid-column: 2;
}

.magic-grid figure {
	width: 100%;
	grid-column: 1 / 4;
	text-align: center;
}

.blog-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
	line-height: 120%;
}

p {
	margin: 0;
	line-height: var(--line-height);
}

.text-sm {
	font-size: 0.75rem;
}

.text-lg {
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/* Scrollbar Styles */

body::-webkit-scrollbar {
	width: 12px;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--red) var(--white);
}

body::-webkit-scrollbar-track {
	background: var(--white);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--red);
	border-radius: 6px;
	border: 3px solid var(--white);
}

@media (min-width: 767px) {
	html {
		font-size: 28px;
	}
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 1rem;
}

.text-center {
	text-align: center;
}

.hero-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-wrapper h1 {
	font-size: 2.5rem;
	width: 100%;
	line-height: 110%;
	padding: 2rem 0;
}

.hero-wrapper img {
	display: none;
	z-index: 10;
	transform: translateY(-60px);
	width: 30%;
}
@media (min-width: 767px) {
	.hero-wrapper img {
		display: block;
	}
	.hero-wrapper h1 {
		font-size: 3.5rem;
		width: 70%;
		padding: 0;
	}
}

.main-nav {
	padding: 0.75rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--red);
}

.main-nav a {
	text-decoration: none;
	color: white;
}

.blog {
	margin-bottom: 4rem;
}

.blog blockquote p {
	margin-bottom: 0;
}

.blog h1 {
	margin-top: 4rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

.blog h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.blog p {
	margin-bottom: 2rem;
}

.blog figure {
	margin: 0 0 2.5rem 0;
}

@media (min-width: 767px) {
	.blog h1 {
		font-size: 2.5rem;
	}
}

.blog-date {
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: var(--red);
}

.blogs-list {
	padding-left: 0;
	padding-bottom: 4rem;
	margin: 0;
}

.blogs-list li {
	list-style: none;
	margin-bottom: 2.5rem;
}

.blogs-list a {
	text-decoration: none;
	color: var(--black);
	position: relative;
	display: block;
}

.blogs-list img {
	position: absolute;
	left: -3rem;
	top: 1.25rem;
}
.blogs-list img.red {
	display: none;
}

.blogs-list span {
	color: var(--red);
	display: block;
	margin-bottom: 0.25rem;
}

.blogs-list h2 {
	font-size: 1.5rem;
}

.blogs-list a:hover img.black {
	display: none;
}

.blogs-list a:hover img.red {
	display: inline;
}

.blogs-list a:hover h2 {
	color: var(--red);
}

.blogs-list a:hover span {
	color: var(--black);
}

@media (max-width: 767px) {
	.blogs-list a h2 {
		font-size: 1.5rem;
	}
	.blogs-list a img {
		display: none;
	}
	.blogs-list a:hover img {
		display: none !important;
	}
}

.subscribe-wrapper {
	background-color: var(--red);
	color: #ffffff;
	padding: 2rem 0;
}

.subscribe-subtitle {
	margin-bottom: 1rem;
	font-weight: 300;
}

#subscribe-form {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 0.5rem;
	flex-direction: column;
}

.subscribe-header {
	position: relative;
	height: 90px;
}

@media (min-width: 767px) {
	.subscribe-header {
		height: 150px;
	}
}

.subscribe-header .main-title,
.subscribe-header .subscribed-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	transition: opacity 1s ease;
}

.subscribe-header .main-title {
	opacity: 1;
}

.subscribe-header.subscribed .main-title {
	opacity: 0;
}

.subscribe-header.subscribed .subscribed-msg {
	opacity: 1;
}

.subscribed-msg {
	opacity: 0;
}

#subscribe-form > * {
	width: 100%;
}

.subscribe-wrapper input[type="text"],
.subscribe-wrapper input[type="email"] {
	height: 2rem;
	border: none;
	box-shadow: none;
	padding: 0.5rem;
}

.subscribe-wrapper input[type="submit"] {
	background-color: #ff6b86;
	border: none;
	box-shadow: none;
	padding: 0.5rem 1rem;
	color: #ffffff;
	height: 2.5rem;
	font-size: 1rem;
}

.subscribe-wrapper input[type="submit"][loading="true"] {
	cursor: not-allowed;
	position: relative;
	animation: loading 5s linear infinite;
	background-image: linear-gradient(
		45deg,
		#ff6b86 25%,
		#f5a098 25%,
		#f5a098 50%,
		#ff6b86 50%,
		#ff6b86 75%,
		#f5a098 75%,
		#f5a098 100%
	);
	background-size: 0.75rem 0.75rem;
}

@keyframes loading {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

@media (min-width: 767px) {
	#subscribe-form {
		flex-direction: row;
	}
	.subscribe-wrapper input[type="submit"] {
		height: 2rem;
		font-size: 0.75rem;
	}
}

.subscribe-wrapper input[type="submit"]:hover {
	filter: brightness(90%);
	cursor: pointer;
}

form {
	margin: 0;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 0.75rem;
}

fieldset {
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	font-size: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

fieldset[type="text"] label {
	display: block;
	margin-bottom: 0.125rem;
}

/***** UTILITIES *****/

.display-none {
	display: none;
}
