:root {
	--red: #d43b57;
	--white: #ffffff;
	--black: #111111;
	--line-height: 170%;
}

a {
	color: var(--red);
}

.blog a {
	display: inline;
	position: relative;
	text-decoration: none;
	color: inherit;
	margin: 0 0px;
	transition: margin 0.25s;
	background-color: transparent;
}

.blog a svg {
	width: 140%;
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translate(-50%, -10px) translateZ(0);
	fill: none;
	stroke: var(--red);
	stroke-linecap: round;
	stroke-width: 2px;
	stroke-dasharray: 69px 278px;
	stroke-dashoffset: 361px;
	transition: stroke 0.25s ease 0s, stroke-dasharray 0.2s;
}

.blog a:hover svg {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%) translateZ(0);
	stroke-dasharray: 180px 278px;
	transition: stroke 0.25s ease 0.1s, stroke-dasharray 0.2s;
}

@media (max-width: 767px) {
	.blog a {
		text-decoration: underline;
		color: var(--red);
	}

	.blog a svg {
		display: none;
	}
	.blog a:hover {
		margin: 0;
	}
}

html {
	background-image: url("assets/images/grid-bg.png");
	font-size: 18px;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--black);
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

pre code::before {
	content: "code";
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--red);
	padding: 8px 24px;
	color: #fff;
	font-family: monospace;
	border-bottom-right-radius: 10px;
}

pre code {
	position: relative;
	white-space: pre-wrap;
	font-weight: 400;
	font-size: 0.75rem;
	padding: 3rem 2rem 2rem 2rem;
	display: block;
	border-radius: 10px;
	border: 5px solid var(--red);
	background-color: #fff;
	line-height: 150%;
}

blockquote {
	display: flex;
	margin: 1rem 0 3rem;
	margin-left: 0;
	position: relative;
	line-height: var(--line-height);
	font-weight: 600;
	font-style: italic;
	font-size: 1.25rem;
}

blockquote::before {
	content: url("assets/images/scribble_red.svg");
	position: absolute;
	left: -3.5rem;
}

.mono {
	font-family: "Space Mono", monospace;
	font-weight: 700;
}

.hover-red:hover {
	color: var(--red);
}

.magic-grid {
	display: grid;
	grid-template-columns: 1fr min(980px, calc(100% - 2rem)) 1fr;
	margin: 0 auto;
}

.magic-grid > * {
	grid-column: 2;
}

.magic-grid figure {
	width: 100%;
	grid-column: 1 / 4;
	text-align: center;
}

.blog-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
	line-height: 120%;
}

p {
	margin: 0;
	line-height: var(--line-height);
}

.text-sm {
	font-size: 0.75rem;
}

.text-lg {
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/* Scrollbar Styles */

body::-webkit-scrollbar {
	width: 12px;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--red) var(--white);
}

body::-webkit-scrollbar-track {
	background: var(--white);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--red);
	border-radius: 6px;
	border: 3px solid var(--white);
}

@media (min-width: 767px) {
	html {
		font-size: 28px;
	}
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 1rem;
}

.hero-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-wrapper h1 {
	font-size: 2.75rem;
	width: 100%;
	line-height: 110%;
	padding: 2rem 0;
}

.hero-wrapper img {
	display: none;
	z-index: 10;
	transform: translateY(-75px);
	width: 30%;
}
@media (min-width: 767px) {
	.hero-wrapper img {
		display: block;
	}
	.hero-wrapper h1 {
		font-size: 4rem;
		width: 70%;
	}
}

.main-nav {
	padding: 0.75rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--red);
}

.main-nav a {
	text-decoration: none;
	color: white;
}

.blog {
	margin-bottom: 3rem;
}

.blog blockquote p {
	margin-bottom: 0;
}

.blog h1 {
	margin-top: 4rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

.blog h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.blog p {
	margin-bottom: 2rem;
}

.blog figure {
	margin: 0 0 2.5rem 0;
}

@media (min-width: 767px) {
	.blog h1 {
		font-size: 2.5rem;
	}
}

.blog-date {
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: var(--red);
}
